/* canvas background  */
::-webkit-scrollbar {
  display: none;
}

#canvas{
  position: absolute  ;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  overflow: scroll;
}

#main{
  width: 100%;
  height: 100%;
  position: absolute; 
  border-radius: 1em;
}

/* canvas background  */

:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
}
#textH{
    text-align: left;
    padding: 8px 30px;
    color: white;
}
section{
    min-width: 1000px;
    margin: auto;
    padding: 30px 0;

}
.buttonH{
    text-align: end;
}

#Bhead1{
  height:60px;
  width:125px;
  border:none;
  border-radius:25px;
  transition:0.3s;
  background-color:#49d8c5;
  animation: glow 1s infinite ;
  transition:0.5s;
}
span{
    display: block;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-top: 15%;
    padding-right: 2.5%;
    margin-right: 0px;
    font-size: 1.2rem;
    transition: 0.3s;
    opacity: 10;
    }

span:hover{
  transition: 0.3s;
  opacity: 1;
  font-weight: 700;
  }

#Bhead1:hover{
  transform:translateX(-20px)rotate(30deg);
  border-radius:5px;
  background-color:#c3bacc;
  transition:0.5s;
}

@keyframes glow{
  0%{
  box-shadow: 5px 5px 20px rgb(93, 52, 168),-5px -5px 20px rgb(93, 52, 168);}
  
  50%{
  box-shadow: 5px 5px 20px rgb(81, 224, 210),-5px -5px 20px rgb(81, 224, 210)
  }
  100%{
  box-shadow: 5px 5px 20px rgb(93, 52, 168),-5px -5px 20px rgb(93, 52, 168)
  }
}

.conte{
    text-align: center;
}

#niches{

  display: inline-block;
  width: 100%;
  padding: 2% 2% 2% 0;
}

.container{
  background: linear-gradient(rgba(139, 4, 192, 0.747), rgb(29, 4, 168));
  margin: 3% 10%;
  padding: 3%;
  border-radius: 0.8em;
}

.post{
  /* box-sizing: content-box; */
  height: 100%;
  margin-bottom: 3%;
  background-color: white;
  padding: 2%;
  border-radius: 1em;
  box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
}

#post-top{
  display: flex !important;
}

#post-tittle{
  display: inline-block;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#post-date{
  float: right;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;  
}

#org-name{
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin: 3%;
}

.post-medium{
  display: flex !important;
  padding: 0;
}

#tag{
  width: 50%;
  float: right;
  margin: 2%;
}

#tag>div{
  background-color: black;
  display: inline-block;
  border: 2px solid #3b3b3b;
  border-radius: 0.5em;
  color: white;
  padding: 0.3em 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.3%;
}
.left{
  display: inline-block;
  width: 50%;
  padding: 2%;
}

.left > div{
  background-color: rgb(222, 243, 30);
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 0.5em;
  color: rgb(0, 0, 0);
  padding: 0.3em 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.3%;
  display: inline-block;
}

.button-apply{
  background: linear-gradient(135deg, rgba(85,239,203,1) 0%,rgba(30,87,153,1) 0%,rgba(85,239,203,1) 0%,rgba(91,202,255,1) 100%);
  color: #f7f7f7;
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #000000;
  border-radius: 4px;;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  float: right;
  box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.75);
}
.button-apply:after {
  position: absolute;
  transition: 0.3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #000000;
}
.button-apply:hover {
  cursor: pointer;
}
.button-apply:hover:after {
  width: 100%;
  left: 0;
}

.button-apply:hover {
  color: #000000;
}
.button-apply:hover:after {
  left: -10%;
  width: 120%;
}


.box{
  
  width: 122px;
  height: 50px;
  margin: 0.5%;
  float: right;
  
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: #00fff6;
  text-align: center;
  text-decoration: none;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration:0.3s;
  -webkit-transition-property:box-shadow,transform ;
  transition-property: box-shadow, transform;

}
 .box:hover, .box:focus, box:active{
   box-shadow: 0 0 20px rgba(0,0,0,0.5);
   -webkit-transform: scale(1.1) ;
   transform: scale(1.1);

 }

body{
    background-color: rgb(0, 0, 0);
}

h1{
    font-size: 3em;
    text-align: center;
    position:relative;
    top: 60px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

}



#demotext {
    color: #FFFFFF;
    background:transparent;
    font-family:'Press Start 2P', cursive;
    font-size: 15px;
    letter-spacing: -1px;
    word-spacing: 1px;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-shadow: 0 -1px 4px #000000, 0 -2px 5px #6664ff, 0 -5px 10px #9a27f7, 0 -18px 20px #c501e2;
    }

footer{
    /* position:fixed; */
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
  
    padding: 20px;
    width: 100vw;

  }

  .neon-button {
    font-size: 1rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.30em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
  
  /*responsive*/
  @media(max-width: 970px){
    .text{
      font-size: 12px;
  
    }
    .lister-footer li a{
        padding: 5px;
    }
  
  }
  @media(max-width: 330px){
    .text{
      font-size: 10px;
  
    }
  
  }